In [ ]:
import pandas as pd
import numpy as np
a_dict={'1st':1,'2nd':3,'3rd':5,'4th':7,'5th':9}
ser=pd.Series(a_dict)
ser

1st    1
2nd    3
3rd    5
4th    7
5th    9
dtype: int64

In [ ]:
student_scores={'Charlie':40,'Eva':50,'Veda':40,'tejaswi':50,'deepthi':45,'jahn':35,'ravi':25,'pradeep':15,'abhilash':50,'hari':10}

scores=pd.Series(student_scores)
display(scores)


display(scores[['Charlie', 'Eva']])

scores = scores + 5
display(scores)

display(scores[scores > 40])


display(scores.mean())

Charlie     40
Eva         50
Veda        40
tejaswi     50
deepthi     45
jahn        35
ravi        25
pradeep     15
abhilash    50
hari        10
dtype: int64

Charlie    40
Eva        50
dtype: int64

Charlie     45
Eva         55
Veda        45
tejaswi     55
deepthi     50
jahn        40
ravi        30
pradeep     20
abhilash    55
hari        15
dtype: int64

Charlie     45
Eva         55
Veda        45
tejaswi     55
deepthi     50
abhilash    55
dtype: int64

np.float64(41.0)

### ðŸŽ¯ Your Task:

Using **Pandas Series**, perform the following:

âœ… Create a Series named `scores` using the dictionary `student_scores`.

âœ… Print the marks scored by **"Charlie"** and **"Eva"**.

âœ… Add **5 bonus marks** to all students and print the updated Series.

âœ… Display only the students who scored **above 90** after the bonus.

âœ… Calculate and print the **average marks** of the class (after the bonus).

In [ ]:
an=np.array([[25,85],[25,90],[45,50],[34,23]])
ser=pd.DataFrame(an,index=['Veda','Thulasi','Abhignya','Deepu'],columns=['Maths','Science'])
ser
ser.values
ser.index
ser.columns

Index(['Maths', 'Science'], dtype='object')

In [ ]:
a={'name':{'Ru':'Rukshan','Pr':'Prasadi','Gi':'Gihan','Ha':'Hansana'},'age':{'Ru':25,'Pr':25,'Gi':24,'Ha':23},'marks':{'Ru':85,'Pr':90,'Gi':50,'Ha':23}}
df=pd.DataFrame(a)
df
df.index
df.columns
df.values
type(df.values)
df.values.ndim
df.values.shape

(4, 3)

In [ ]:
ser1=pd.Series(['Rukshan','Prasadi','Gihan','Hansana'],index=['Ru','Pr','Gi','Ha'])
ser2=pd.Series([25,25,24,23],index=['Ru','Pr','Gi','Ha'])
ser3=pd.Series([85,90,50,23],index=['Ru','Pr','Gi','Ha'])

df=pd.DataFrame({'name':ser1,'age':ser2,'marks':ser3})
df

       name  age  marks
Ru  Rukshan   25     85
Pr  Prasadi   25     90
Gi    Gihan   24     50
Ha  Hansana   23     23

In [ ]:
ser1=pd.Series(['Rukshan','Prasadi','Gihan','Hansana'],index=['Ru','Pr','Gi','Ha'])
ser2=pd.Series([25,25,24,23],index=['Ru','Pr','Gi','Ha'])
ser3=pd.Series([85,90,50,23],index=['Ru','Pr','Gi','Ha'])

df=pd.DataFrame({'name':ser1,'age':ser2,'marks':ser3})
df
print(df['marks'].max())
new_student=pd.DataFrame({'name':['Tharushi'],'age':[23],'marks':[88]},index=['Th'])
df=pd.concat([df,new_student])
print(df)
print(df[df['age']>25])
df.loc[df['marks']<80,'marks']=df['marks']+10
print(df)
print(df['marks'].mean())

90
        name  age  marks
Ru   Rukshan   25     85
Pr   Prasadi   25     90
Gi     Gihan   24     50
Ha   Hansana   23     23
Th  Tharushi   23     88
Empty DataFrame
Columns: [name, age, marks]
Index: []
        name  age  marks
Ru   Rukshan   25     85
Pr   Prasadi   25     90
Gi     Gihan   24     60
Ha   Hansana   23     33
Th  Tharushi   23     88
71.2


You are given three Series representing student data:

Names of students

Their ages

Their marks

These series are combined into a DataFrame as shown earlier.

### ðŸŽ¯ Your Task:
Using the existing DataFrame, perform the following operations:

âœ… Print the details (name, age, marks) of the student who scored the highest marks.

âœ… Add a new student "Tharushi" with age 23 and marks 88 using the index "Th".

âœ… Display the details of students who are 25 years old or older.

âœ… Increase the marks of students below 80 by 10 bonus points.

âœ… Calculate and print the average marks of all students after the bonus.

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
path='/content/drive/MyDrive/data.csv'
df=pd.read_csv(path)
print(df.head())
print(df.tail())
print(df.info())
df.isnull()
df.isnull().sum()
new_df=df.dropna()
print(new_df.to_string())
df.fillna(130,inplace=True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0
    Duration        Date  Pulse  Maxpulse  Calories
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [ ]:
x=df["Calories"].median()
df.fillna({"Calories":x},inplace=True)
print(df)
x=df["Calories"].mode()[0]
df.fillna({"Calories":x},inplace=True)
print(df)
x=df["Calories"].mean()
df.fillna({"Calories":x},inplace=True)
print(df)
df['Date']=pd.to_datetime(df['Date'],format='mixed')
print(df.to_string())
df.dropna(subset=['Date'],inplace=True)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     291.2
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     291.2
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     291.2
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     291.2
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     291.2
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     291.2
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     291.2
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [ ]:
df.loc[7,'Duration']=45
for x in df.index:
  if df.loc[x,"Duration"]>120:
    df.loc[x,"Duration"]=120
for x in df.index:
  if df.loc[x,"Duration"]>120:
    df.drop(x,inplace=True)
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [ ]:
# Sorting

# Sorting helps in organizing data to identify trends, ranks, or anomalies.

# Sort by Calories descending

sorted_df = df.sort_values(by='Calories', ascending=False)

print(sorted_df)

# Create another DataFrame with Date and Trainer name
trainer_df = pd.DataFrame({
    'Date': ['2020/12/01', '2020/12/02', '2020/12/03'],
    'Trainer': ['Alex', 'Jordan', 'Taylor']
})

# Convert 'Date' column in trainer_df to datetime format
trainer_df['Date'] = pd.to_datetime(trainer_df['Date'])

# Now merge
merged_df = pd.merge(df, trainer_df, on='Date', how='left')

print(merged_df)

## Group by Duration and Calculate Average Calories

### Groups the dataset by the Duration column (i.e., how long each activity lasted).

### For each unique Duration, it computes the average Calories burned.

### Returns a Series with Duration as the index and average Calories as values.


# Group by Duration and get average Calories

avg_calories_by_duration = df.groupby('Duration')['Calories'].mean()

# Group by Pulse range (bucketed)

df['PulseRange'] = pd.cut(df['Pulse'], bins=[100, 110, 120, 130, 140, 150, 180])

grouped_stats = df.groupby('PulseRange', observed=False).agg({

    'Calories': 'mean',

    'Maxpulse': 'max'

})

print(grouped_stats)

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2020-12-02    117       145     479.0
0         60 2020-12-01    110       130     409.1
4         45 2020-12-05    117       148     406.0
30        60 2020-12-30    102       129     380.3
14        60 2020-12-14    104       132     379.3
6         60 2020-12-07    110       136     374.0
21        60 2020-12-21    108       131     364.2
13        60 2020-12-13    106       128     345.3
2         60 2020-12-03    103       135     340.0
25        60 2020-12-25    102       126     334.5
10        60 2020-12-11    103       147     329.3
19        60 2020-12-19    103       123     323.0
5         60 2020-12-06    102       127     300.0
23        60 2020-12-23    130       101     300.0
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     291.2
28        60 2020-12-28    103       132     291.2
3         45 2020-12-04    109       175     282.4
29        60 2020-12-29    100       132     280.0
15        60 2020-12-15     98       123     275.0
9         60 2020-12-10     98       124     269.0
7         45 2020-12-08    104       134     253.3
12        60 2020-12-12    100       120     250.7
11        60 2020-12-12    100       120     250.7
26        60 2020-12-26    100       120     250.0
24        45 2020-12-24    105       132     246.0
31        60 2020-12-31     92       115     243.0
20        45 2020-12-20     97       125     243.0
27        60 2020-12-27     92       118     241.0
16        60 2020-12-16     98       120     215.2
8         30 2020-12-09    109       133     195.1
    Duration       Date  Pulse  Maxpulse  Calories Trainer
0         60 2020-12-01    110       130     409.1    Alex
1         60 2020-12-02    117       145     479.0  Jordan
2         60 2020-12-03    103       135     340.0  Taylor
3         45 2020-12-04    109       175     282.4     NaN
4         45 2020-12-05    117       148     406.0     NaN
5         60 2020-12-06    102       127     300.0     NaN
6         60 2020-12-07    110       136     374.0     NaN
7         45 2020-12-08    104       134     253.3     NaN
8         30 2020-12-09    109       133     195.1     NaN
9         60 2020-12-10     98       124     269.0     NaN
10        60 2020-12-11    103       147     329.3     NaN
11        60 2020-12-12    100       120     250.7     NaN
12        60 2020-12-12    100       120     250.7     NaN
13        60 2020-12-13    106       128     345.3     NaN
14        60 2020-12-14    104       132     379.3     NaN
15        60 2020-12-15     98       123     275.0     NaN
16        60 2020-12-16     98       120     215.2     NaN
17        60 2020-12-17    100       120     300.0     NaN
18        45 2020-12-18     90       112     291.2     NaN
19        60 2020-12-19    103       123     323.0     NaN
20        45 2020-12-20     97       125     243.0     NaN
21        60 2020-12-21    108       131     364.2     NaN
22        60 2020-12-23    130       101     300.0     NaN
23        45 2020-12-24    105       132     246.0     NaN
24        60 2020-12-25    102       126     334.5     NaN
25        60 2020-12-26    100       120     250.0     NaN
26        60 2020-12-27     92       118     241.0     NaN
27        60 2020-12-28    103       132     291.2     NaN
28        60 2020-12-29    100       132     280.0     NaN
29        60 2020-12-30    102       129     380.3     NaN
30        60 2020-12-31     92       115     243.0     NaN
            Calories  Maxpulse
PulseRange
(100, 110]  321.6875     175.0
(110, 120]  442.5000     148.0
(120, 130]  300.0000     101.0
(130, 140]       NaN       NaN
(140, 150]       NaN       NaN
(150, 180]       NaN       NaN

In [ ]:
merged_df['Trainer']=merged_df['Trainer'].str.title()
merged_df[merged_df['Trainer'].str.contains('Alex',na=False)]

   Duration       Date  Pulse  Maxpulse  Calories Trainer
0        60 2020-12-01    110       130     409.1    Alex

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
path='/content/drive/MyDrive/OnlineRetail.csv'
df=pd.read_csv(path)
print(df.head())
print(df.tail())
print(df.info())
print(df.shape)
df.isnull().sum()
for x in df.index:
  if df.loc[x,"Customer ID"]==Nan:
    df.drop(x,inplace=True)

df.fillna({"Description":x},inplace=True)
print(df.to_string())

â€œE-Commerce Transaction Analyticsâ€ (Using Online Retail Dataset)
ðŸŽ¯ Scenario / Story
You are a data analyst at ShopWave, an e-commerce platform in the UK. ShopWave logs every transaction (order) made in their store. Each record has:
Invoice number
Stock code / product ID
Description
Quantity
Invoice date
Unit price
Customer ID
Country

Your manager wants you to clean the data, fix inconsistencies, derive business metrics, and explore relationships. The cleaned data should enable deeper dashboards later.

Tasks & Steps
Below is a full pipeline of tasks that students should perform. Each task corresponds to one or more of the functions/techniques you already taught.
Load & Inspect
Read the CSV (e.g. OnlineRetail.csv)
Display head(), tail(), info(), shape
Check dtypes
Missing Data Handling
Use isnull().sum() to find missing values (e.g. some Description or Customer ID missing)
Drop rows that have missing Customer ID (because you canâ€™t tie to a customer)
Fill missing Description or other columns using a placeholder (e.g. "Unknown")
Date Parsing / Format Correction
The InvoiceDate column might be string. Convert using pd.to_datetime(..., format='mixed')
Drop records where parsing failed (if any)
Detect & Fix Bad or Outlier Data
Some transactions might have negative quantity (returns) â€” detect those and decide whether to treat as returns or drop
Some unit prices might be zero or negative â€” fix/clean these (e.g. drop or adjust)
Duplicates
Use duplicated() to find duplicated invoice-item entries
Drop duplicates